.timer {
    background: #f6fafd;
    padding: 10px;
    margin: 10px 0;
}
.timer--expired {
    display: none;
}
.timer-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 5px;
    color: blueviolet;
    font-weight: bold;
}
.timer-block {
    position: relative;
    width: 25%;
    padding: 0 10px;
    &:not(:last-child):after {
        content: ":";
        position: absolute;
        right: 0;
        top: 3px;
    }
}
.timer-block__num,
.timer-block__unit {
    display: block;
    text-align: center;
}
